body{
  background: linear-gradient(to left, rgba(0,255,127,0.5), rgba(0,127,255,0.5));
}

.container {
  padding: 1em 1em;
  margin: 1em 1em;
  display: grid;
  grid-template-columns: 1fr 2fr;

  textarea{
    width: 90%;
    height: 80vh;
  }
}


.btn{
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
}

.primary{
  background: deepskyblue;
  color: black;
}
